[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
[submodule "dsh-image-video"]
	path = dsh-image-video
	url = https://github.com/ihero3/dsh-image-video.git
